@model string
@{
    ViewData["Title"] = "مدیریت کاربران";
}

<button id="showUsersBtn" class="btn btn-primary">نمایش همه کاربران</button>
<button id="addUserBtn" class="btn btn-success">افزودن کاربر</button>

<div class="mt-4">
    <table id="usersTable" class="table table-striped" style="width:100%; display:none;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">افزودن کاربر جدید</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="addUserForm">
                    <div class="mb-3">
                        <label for="fullName" class="form-label">نام کامل</label>
                        <input type="text" class="form-control" id="fullName" name="FullName" required>
                    </div>
                    <div class="mb-3">
                        <label for="idNumber" class="form-label">کد ملی</label>
                        <input type="text" class="form-control" id="idNumber" name="IdNumber" required>
                    </div>
                    <div class="mb-3">
                        <label for="userName" class="form-label">نام کاربری</label>
                        <input type="text" class="form-control" id="userName" name="UserName" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">رمز عبور</label>
                        <input type="password" class="form-control" id="password" name="Password" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-primary" id="confirmAddUser">تایید</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {


<script src="~/js/UserIndex.js"></script>
}